
<html>
<head>
{{>header}}
</head>

<body>
<br />
<!--<div class="wrapper" style="background:{{background}}"> - use this to set white background again-->
<div class="wrapper" >

    <br>
		<div class="contactDiv">
			<br>
            <!-- error 404 in code: &#9315;&#9450;&#9315; -->
			<h2 class="innerDiv" align="center" style="text-shadow: 1px 1px #000000;">{{title}}
				<br>
			</h2>
			<br>
		</div><br>

		<div class="contactDiv">
			<br>
            <div class="innerDiv" align="center">
                <br><br>
                <h2>Oh no! The page you're looking for does not exist!</h2>
                <br><br><br>
            </div>
		</div>
        <br><br>
		<br><br>
    <footer>
        {{>footer}}
    </footer>
</div>


</body>
</html>
