
<html>
<head>
{{>header}}
</head>

<body>
<br>
<!--<div class="wrapper" style="background:{{background}}"> - use this to set white background again-->
<div class="wrapper" >


		<br>
		<div class="contactDiv">
			<br>
			<h2 class="innerDiv" align="center" style="text-shadow: 1px 1px #000000;">{{title}}
				<br>
			</h2>
			<br>
		</div><br>

		<div class="contactDiv">
			<br>
            <div class="innerDiv" align="center">
                
                <br>
                <br>
                <h2>Error</h2><br/>
                    {{err}}<br/>
					{{empError}}
                <br>

                <br>
            </div>

		</div><br><br>



		<br><br><br>

    <footer>
        {{>footer}}
    </footer>

</div>
	


</body>
</html>
