
<html>
<head>
{{>header}}

    <!-- Google Map API Script -->
    {{! <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhcNsNAkCToiEoqD6OHKDGplxz-Yk3e-A&callback=initMap&libraries=&v=weekly"
      defer
     ></script>
        <script>
            // Initialize and add the map
            function initMap() {
            // The location of Glasgow
            const glasgow = { lat: 55.866757, lng: -4.249957 };
            // The map, centered at Glasgow
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: glasgow,
            });
            // The marker, positioned at Glasgow
            const marker = new google.maps.Marker({
                position: glasgow,
                map: map,
            });
            }
        </script> }}
</head>

<body>
<br>
<!--<div class="wrapper" style="background:{{background}}"> - use this to set white background again-->
<div class="wrapper" >
		<br />
		<div class="contactDiv">
			<br>
                    <h2 class="innerDiv" align="center" style="text-shadow: 1px 1px #000000;"><i class="fa fa-question-circle-o"></i>&nbsp;&nbsp;{{title}}
                        <br />
                    </h2>
			<br />
		</div>
        <br>

        <div class="contactDiv">
			<br>
                    <h3 class="innerDiv" align="center">
                    <p>In the age of Covid 19, we've grown accustomed to being indoors, largely due to the ever recurring lockdown's.<br/><br/>
                    With this, we've unfortunately become less active than we once were.<br/><br/>
                    Our aim is to hopefully allow you to create some exercise plans of your own, where you can keep a record of your current and achieved goals, and even share them with others!<p>

                        <br />
                    </h3>
			<br />
		</div>
        <br>
        <div class="contactDiv" >
            <div class="innerDiv" align="center">
                        <br />
                        <div align="centre">
                                <h1><p>Where can you find us?</h1> <br />
                                    {{! <div class="map" id="map" align="right">
                                        <!-- will populate with map object using my own Developer API Key (dev versions do not provide full functionality) -->
                                    </div>
                                    <br />
                                        <address style="font-size: 11px">
                                        Glasgow Caledonian University, 
                                        Cowcaddens Rd, 
                                        Glasgow, 
                                        G4 0BA
                                        </address>
                                    <br /> }}
                                    <!--Embedded - FREE google map API by https://www.embedgooglemap.co.uk/ -->
                                    <iframe width='100%' height='50%' id='mapcanvas' src='https://maps.google.com/maps?q=Glasgow%20Caledonian%20University,%20Glasgow,%20United%20Kingdom&amp;t=k&amp;z=16&amp;ie=UTF8&amp;iwloc=&amp;output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'>
                                        <div class='zxos8_gm'></div><div style='overflow:hidden;'>
                                            <div id='gmap_canvas' style='height:100%;width:700px;'>
                                            </div>
                                        </div>
                                    </iframe> 

                                 <address style="font-size: 11px">
                                        Glasgow Caledonian University, 
                                        Cowcaddens Rd, 
                                        Glasgow, 
                                        G4 0BA
                                        </address>
                                    <br />
                    </div>
            </div>
        </div>
        <br />
        		<div class="contactDiv">
                    <br>
                            <h3 class="innerDiv" align="center">Website Created by James Alexander Doak
                                <br />
                            </h3>
                    <br />
                </div>
                <br>

        <br /><br /><br /><br />
    <footer>
        {{>footer}}
    </footer>
</div>
	


</body>
</html>
