<html>
<head>
{{>header}}
</head>

<body>
<br>
<!--<div class="wrapper" style="background:{{background}}"> - use this to set white background again-->
<div class="wrapper" >
    
		<br>
		<div class="contactDiv">
			<br>
			<h2 class="innerDiv" align="center">{{title}}
				<br>
			</h2>
			<br>
		</div><br>

		<div class="contactDiv">
			<br>
            <div class="innerDiv">
                    <h1 align="center"> Placeholder </h1>
			<br>
            </div>

		</div><br><br><br><br><br>

    <footer>
        {{>footer}}
    </footer>

</div>
	


</body>
</html>
