
<html>
<head>
{{>header}}



</head>

<body>
<br>
<!--<div class="wrapper" style="background:{{background}}"> - use this to set white background again-->

<!--
				THIS PAGE NEEDS FIXED - Make it like edit goal

											----->



<div class="wrapper" >
		<br>
		<div class="contactDiv">
			<br>
                    <h2 class="innerDiv" align="center" style="text-shadow: 1px 1px #000000;">Add a new employee
                        <br>
                    </h2>
			<br>
		</div>
        <br />

		<div class="contactDiv">
			<br>
			<div class="innerDiv" align="center">
			<br>
			<br/>

				<form name="myForm" method="post" onsubmit="return validateForm()">

						<label for="start">Employee Name</label><br />
						<input type="text" id="empName" name="empName" maxlength="30" placeholder="Please enter an employee name" required>

						<label for="pName">Card UID</label>
						<input type="text" id="eID" name="eID" maxlength="10" placeholder="Please enter the RFID card UID (10 chars in total)" required>

						<label for="pName">Position</label>
						<input type="text" id="ePos" name="ePos" maxlength="20" placeholder="Please enter the employee's position" required>
						
						<br /><br/>
						
						<input name="reset" id="btn" type="reset" style="width:250px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" value="Reset">
						<input name="btn" id="btn" type="Submit" style="width:250px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" value="Add Employee">
						<br><br>
				</form>
                <br />
			</div>
		</div>

		<br><br><br><br><br>

    <footer>
        {{>footer}}
    </footer>
</div>
	


</body>
</html>









