<html>
<head>
{{>header}}
</head>

<body>
<br>
<!--<div class="wrapper" style="background:{{background}}"> - use this to set white background again-->
<div class="wrapper" >
    <br/>



        		<div class="contactDiv">
			<br>
            {{! <div class="innerDiv"> }}
                    <h2 align="center">We currently have {{count}} employees in our system!</h2> <br />
                                                    
                    <div class="row">
                            {{#employees }}
                            <div class="innerDiv">
                                <div class="column">
                                    
                                       
                                        <div class="card">
                                                <table style="color:white;text-align:center; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                                                    <tbody>
                                                        <tr>
                                                                {{#isAllowed}}
                                                                <td style="height: 50px;color:white; text-shadow: 1px 1px #000000;background-color:#4CAF50" colspan="6"><h1>{{EmployeeName}}</h1></td>
                                                                {{/isAllowed}}
                                                                {{^isAllowed}}
                                                                <td style="height: 50px;color:white; text-shadow: 1px 1px #000000;background-color:#FF0000" colspan="6"><h1>{{EmployeeName}}</h1></td>
                                                                {{/isAllowed}}
                                                        </tr>
                                                        <tr style="height:40px;background-color:#4da374">
                                                                <td colspan="6" style="width:50%; color:white; text-align:center"><i aria-hidden="true"> Position: {{Position}}</i></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" style="height:15px"><i aria-hidden="true">UID: {{UID}}</i></td>
                                                            {{#isAllowed}}
                                                            <td colspan="2" style="text-align:center;height:15px"><i aria-hidden="true">Access Allowed: <i class="fa fa-check" style="color:white" aria-hidden="true"></i></i></td>
                                                            {{/isAllowed}}
                                                            {{^isAllowed}}
                                                            <td colspan="2" style="text-align:center;height:15px"><i aria-hidden="true">Access Allowed: <i class="fa fa-times" style="color:red" aria-hidden="true"></i></i></td>
                                                            {{/isAllowed}}
                                                        
                                                        </tr>
                                                        <tr>
                                                            <td colspan="6" style="width:50%; color:white; text-align:center"><i aria-hidden="true"> Date Joined: {{dateJoined}}</i></td>
                                                        </tr>

                                                        <tr style="background-color:#4da374">
                                                            <td style="width:33%;height:30px" colspan="2">
                                                                <a href="/add_employee_swipe/{{_id}}" title="Edit this employee">
                                                                <i class="fa fa-pencil" style="color:white" aria-hidden="true"></i>&nbsp;Add a test swipe
                                                                </a>
                                                            </td>
                                                            <td style="width:33%;height:30px" colspan="2">
                                                                <a href="/edit_employee/{{_id}}" title="Edit this employee">
                                                                <i class="fa fa-pencil" style="color:white" aria-hidden="true"></i>&nbsp;Edit this employee
                                                                </a>
                                                            </td>
                                                            
                                                            <td style="width:33%;height:30px" colspan="2">
                                                                <a href="/view_emp_details/{{UID}}" title="View Details">
                                                                <i class="fa fa-pencil" style="color:white" aria-hidden="true"></i>&nbsp;View Swipelog
                                                                </a>
                                                            </td>

                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div><br/><br/>
                                        
                                </div>
                            </div>
                             {{/employees}}
                            </div>
                        </div>


		<br><br><br><br><br>

    <footer>
        {{>footer}}
    </footer>

</div>
	


</body>
</html>
