
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

		<div class="footer">
            {{#user}}
                <a id="about" href="/about"><i class="fa fa-question-circle-o"></i>&nbsp;&nbsp;About</a>
                <a id="contact" href="/contact"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Contact</a></p>
            {{/user}}
            {{^user}}
                <a id="aboutUs" href="/aboutUs"><i class="fa fa-question-circle-o"></i>&nbsp;&nbsp;About</a>
                <a id="contactUs" href="/contactUs"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Contact</a></p>
            {{/user}}
        </div>

<!-- Run the footer script, to set active class-->
<script src="../JS/FooterCases.js"></script>



