<!--
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    grab the stylesheets -->
    <link rel="icon" href="../images/favicon.png">
    <title>OAKY - Honours Project</title>

    <link href="../styleSheet.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   {{! <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> }}

    <!-- Set the nav bar, linking to other pages -->

    <script type="text/javascript" charset="utf-8">
        let a;
        let time;
        setInterval(() => {
        a = new Date();
        time = String(a.getHours()).padStart(2, "0") + ':' + String(a.getMinutes()).padStart(2, "0") + ':' + String(a.getSeconds()).padStart(2, "0");
        document.getElementById('time').innerHTML = time;
        }, 1000);
    </script>
    
	<div class="topnav" id="myTopnav">
    <a style="float:left;"><span id="time"></span></a>
                    <a style="align:right" href="javascript:void(0);" class="icon" onclick="myFunction()">
					<i class="fa fa-bars"></i>
                        {{#user}}
                             <a id="logout" href="/logout" ><i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;Logout: {{user}}</a>
                        {{/user}}
                        {{^user}}
                            <a id="login" href="/login" ><i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;Login</a>
                        {{/user}}

                        {{#user}}
                            <a id="all_employees" href="/all_employees" ><i class="fa fa-users"></i>&nbsp;&nbsp;All Employees</a>
                        {{/user}}
                            
                        {{#user}}
                            <a id="add_employee" href="/add_employee" ><i class="fa fa-user"></i>&nbsp;&nbsp;Add Employee</a>
                            {{! <a id="myPlans" href="/my_planner" ><i class="fa fa-book"></i>&nbsp;&nbsp;My Planner</a> }}
                            <a id="home" href="/" ><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a> 
                        {{/user}}
                        
                    </a>   
	</div>

            <!--run the nav script to set the active class-->
            <script src="../JS/NavLinkCases.js"></script>

            <!--run the topnav script to create the hamburger menu on lower resolutions-->
            <script src="../JS/topNav.js"></script>


    <br />
    <br />
    

