<html>
<head>
{{>header}}

</head>


<body>
<br>
<!--<div class="wrapper" style="background:{{background}}"> - use this to set white background again-->
<div class="wrapper" >
    
		{{#user}}
		<br>
		<div class="contactDiv">

                    <br/>
                    <table>
                            <tbody>
                            <tr>
                                <td width="33%"><a style="text-decoration:underline;" type="button" href="/seed">Seed with data</a></td>
                                <td width="33%"><a style="text-decoration:underline;" type="button" href="/addGranted">Add valid IN swipe</a></td>
                                <td width="33%"><a style="text-decoration:underline;" type="button" href="/addSecondSwipe">Add valid OUT swipe</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <br/>

                
			</h2>
			<br>
		</div><br>



<div class="contactDiv">
<br>
{{! <div class="innerDiv"> }}

<div class="innerDiv">
    <textarea readonly>
    
{{#allData }}
{{SwipeTime}}  -  {{SwipeStatus}}        |  Name:{{employeeName}}  |  ID:{{UID}}  |   {{AccessG}}
{{/allData}}
    </textarea>
</div>



		
		<br><br>
    <footer>
        {{>footer}}
		
    </footer>

</div>
{{/user}}
{{^user}}
{{/user}}
	


</body>
</html>
