<html>
<head>
{{>header}}

</head>


<body>
<br>
<!--<div class="wrapper" style="background:{{background}}"> - use this to set white background again-->
<div class="wrapper" >
<br/>
    
		{{#user}}
<div class="contactDiv">
<br>
{{! <div class="innerDiv"> }}

        

<div class="innerDiv">
    <textarea readonly>
    
{{#entries }}
{{SwipeTime}}  -  {{SwipeStatus}}        |  Name:{{employeeName}}  |  ID:{{UID}}  |   {{AccessG}}
{{/entries}}
    </textarea>
</div>



		
		<br><br>
    <footer>
        {{>footer}}
		
    </footer>

</div>
{{/user}}
{{^user}}
{{/user}}
	


</body>
</html>




                                        <!--
                                        <div class="column">
                                            <div style="width:100%"class="card">
                                                <h3>{{planName}}</h3>
                                                <p>{{Date}}</p>
                                                <p>{{WeekNumber}}</p>
                                                <p>{{Monday}} - {{Sunday}}</p>
                                                <p></p>
                                                <p>{{#goals}}{{repsOrKM2}}{{/goals}} - {{#goals}}{{exerciseType2}}{{/goals}}</p>
                                                <p>{{#goals}}{{repsOrKM3}}{{/goals}} - {{#goals}}{{exerciseType3}}{{/goals}}</p>
                                            </div>
                                        </div>-->







                                    

                        <!-- {{#userGoals}}

                                <tr>
                                {{^achieved}}
                                
                                <td> <br/>Plan Name: <br/>{{planName}}<br/><br/>
                                     Start Date: <br/>{{Date}}<br /><br/>
                                    {{Monday}} - {{Sunday}}<br/>
                                    <br/>
                                   </td>
                                <td>{{#goals}} <br/><br />{{exerciseType1}}{{exerciseType2}}{{exerciseType3}} {{/goals}}<br/><br/><br/></td>
                                <td>{{#goals}} <br/><br />{{repsOrKM1}} {{repsOrKM2}} {{repsOrKM3}}{{/goals}}<br/><br/><br/></td>
                                    {{#achieved}}
                                        <td><i class="fa fa-trophy" style="color:#FF0" title="congratulations!" aria-hidden="true"></i></td>
                                    {{/achieved}}
                                    {{^achieved}}
                                        <td>
                                        
                                        </td>
                                    {{/achieved}}
                                    
                                    {{#isPublic}}
                                        <td><p style="color:white">&nbsp;</p></td>
                                            {{#achieved}}
                                                <td><p style="color:white">&nbsp;</p></td>
                                            {{/achieved}}
                                            {{^achieved}}
                                                <td><a href="/edit_goal/{{_id}}" title="Edit this goal"><i style="color:#FFFFB5"class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                            {{/achieved}}
                                        <td><a href="/delete_goal/{{_id}}" title="Delete this goal"><i style="color:#FFC8A2"class="fa fa-trash" aria-hidden="true"></i></a></td>
                                    {{/isPublic}}
                                    {{^isPublic}}
                                        <td></td>
                                            {{#achieved}}
                                                <td><p style="color:white">&nbsp;</p></td>
                                            {{/achieved}}
                                            {{^achieved}}
                                                <td></td>
                                            {{/achieved}}
                                                <td></td>
                                    {{/isPublic}}
                                {{/achieved}}
                               
                                </tr>
                            {{/userGoals}}    
                      </tbody>
                      </table>
                        {{^userGoals}}
                        <br/>
                        <h1 align="center" style="color:white">You don't currently have any open plans.</h1>
                        <br/>
                        {{/userGoals}}
                        {{! </div><br /> }}
			{{! <br> }}
		</div>-->