<html>
<head>
{{>header}}

</head>


<body>
<br>
<!--<div class="wrapper" style="background:{{background}}"> - use this to set white background again-->
<div class="wrapper" >
<br/>
    
		{{#user}}
<div class="contactDiv">
<br>
{{! <div class="innerDiv"> }}
        

<div class="innerDiv">
    <textarea readonly>
    
{{#entries }}
{{SwipeTime}}  -  {{SwipeStatus}}        |  Name:{{employeeName}}  |  ID:{{UID}}  |   {{AccessG}}
{{/entries}}
    </textarea>
</div>



		
		<br><br>
    <footer>
        {{>footer}}
		
    </footer>

</div>
{{/user}}
{{^user}}
{{/user}}
	


</body>
</html>
