
<html>
<head>
{{>header}}
</head>

<body>
<br>
<!--<div class="wrapper" style="background:{{background}}"> - use this to set white background again-->
<div class="wrapper" >
		<br>
		<div class="contactDiv">
			<br>
                    <h2 class="innerDiv" align="center" style="text-shadow: 1px 1px #000000;">{{title}}
                        <br>
                    </h2>
			<br>
		</div>
        <br>

		<div class="contactDiv">
			<br>
			<div class="innerDiv" align="center">
			<br>
				<form name="myForm" method="post" onsubmit="return validateForm()">
						<label for="first">First Name</label><br>
						<input style="color:black;" type="text" minlength="1" maxlength="15" id="fname" name="fname" placeholder="Please enter your forename." required>	
							<br>
						<label for="last">Last Name</label><br>
						<input style="color:black;" type="text" minlength="1" maxlength="15" id="lname" name="lname" placeholder="Please enter your surname." required> 
							<br>
						<label for="email">Email Address</label><br>
						<input style="color:black; height:42px;" minlength="1" maxlength="50"  type="email" id="email" name="email" placeholder="Please enter your email address." required>
							<br>
						<label for="message">Message</label><br>
						
						<textarea style="color:black;font-size:13px;" minlength="1" maxlength="500" id="message" name="message" placeholder="Please enter your message" rows="10" cols="30" required ></textarea>
						
						<input name="btn" id="btn" type="Submit" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" value="Submit">
						<input name="reset" id="btn" type="reset" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" value="Reset">
						<br><br>
				</form>
                <br />
			</div>
		</div>

		<br><br><br><br><br>

    <footer>
        {{>footer}}
    </footer>
</div>
	


</body>
</html>
