<html>
<head>
{{>header}}
</head>


<body>
<br>
<!--<div class="wrapper" style="background:{{background}}"> - use this to set white background again-->
<div class="wrapper" >
    
		{{#user}}
		<br>
		<div class="contactDiv">
			<br>
			<h2 class="innerDiv" align="center" style="text-shadow: 1px 1px #000000;"><i class="fa fa-home"></i>&nbsp;&nbsp;Home
				<br>
			</h2>
			<br>
		</div><br>

        		<div class="contactDiv">
			<br>
            {{! <div class="innerDiv"> }}
             
                    <h2 align="center" id="headerText">Here's a list of your open Plans.</h2> <br/> 
                    
                   {{#count}}
                    <h2 align="center">You currently have {{count}} plans you need to complete.</h2> <br />
                    {{/count}}
                    {{^count}}
                    <h2 align="center">&nbsp;</h2> <br />
                    {{/count}}

                        <div class="innerDiv" align="center">
                      					<form method="get" action="/add_goal">
										    <button type="submit" id="regBtn" style="width:250px; box-shadow: none">
                                            <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;Add a new week Plan</button>
										</form>
                                        <br />

                            {{#count}}     
                                         <p style="color:white">You can filter by a week by clicking on any week number below<p>
                                         </div> <br />
                                    
                                        <div>
                                        <a href="/"></a>
                                        </div> <br/>
                            {{/count}}
                            
                            {{^count}}
                                        <p style="color:white"><p>
                                         </div> <br />
                                    
                                        <div>
                                        <a href="/">Remove filter</a>
                                        </div> <br/>
                            {{/count}}
                            <div class="row">
                            {{#userGoals }}
                                <div class="column">
                                    
                                       
                                        <div class="card">
                                                <table style="color:white;text-align:center; box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                                                    <tbody>

                                                        <tr>
                                                            {{#achieved}}
                                                                <td style="height: 100px;color:white;text-shadow: 1px 1px #000000; background-color:#bdc22f" colspan="6"><h1>Plan - {{planName}}</h1></td>
                                                            {{/achieved}}
                                                            {{^achieved}}
                                                                <td style="height: 100px;color:white;text-shadow: 1px 1px #000000; background-color:#4CAF50" colspan="6"><h1>Plan - {{planName}}</h1></td>
                                                            {{/achieved}}
                                                        </tr>
                                                        <tr style="height:40px;">
                                                             {{#achieved}}
                                                                <td colspan="6" style="width:100%; color:white; text-align:center"><i  class="fa fa-trophy" style="color: yellow" aria-hidden="true">&nbsp;Achieved</i></td>
                                                            {{/achieved}}
                                                            {{^achieved}}
                                                                <td colspan="3" style="width:50%; color:white; text-align:center"><a style="text-decoration:underline;" type="button" href="/complete_goal/{{_id}}"><i style="color:white"class="fa fa-check" aria-hidden="true"> Complete This Plan</a></td>
                                                                <td colspan="3" style="width:50%; color:white; text-align:center"><i  class="fa fa-times" style="color: white" aria-hidden="true"></i>&nbsp;Currently Incomplete</td>
                                                            {{/achieved}}
                                                        </tr>
                                                        <tr style="background-color:#4da374">
                                                            <td colspan="3" style="height: 15px;background-color:#4da374"" colspan="2"><a href="/filterWeek/{{WeekNumber}}">Week: {{WeekNumber}}</a></td>
                                                            <td colspan="3" style="padding-right:5px;height:15px;background-color:#4da374"">{{Monday}} - {{Sunday}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" style="height: 15px" >{{#goals}}{{exerciseType1}}{{/goals}}</td>
                                                            <td colspan="2" style="text-align:left; height:15px">{{#goals}}{{repsOrKM1}}{{/goals}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" style="height: 15px">{{#goals}}{{exerciseType2}}{{/goals}}</td>
                                                            <td colspan="2" style="text-align:left;height:15px">{{#goals}}{{repsOrKM2}}{{/goals}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" style="height:15px">{{#goals}}{{exerciseType3}}{{/goals}}</td>
                                                            <td colspan="2" style="text-align:left;height:15px">{{#goals}}{{repsOrKM3}}{{/goals}}</td>
                                                        </tr>
                                                        <tr style="background-color:#4da374">
                                                            <td style="width:60%;height:15px" colspan="3">This plan is set to be completed by: </td>
                                                            <td style="width:40%;height:15px" colspan="3">{{Date}}</td>
                                                        </tr>
                                                        <tr style="background-color:">
                                                            {{#isPublic}} <!-- if, isPublic is true - do this -->
                                                                <td colspan="2" style="width:33%;height:15px"><p style="color: #bdc22f">Shared</p></td>
                                                                {{#achieved}} <!-- if achieved - hide edit button -->
                                                                    <td colspan="2" style="width:33%;height:15px"><p style="color: #bdc22f">Achieved</p></td>
                                                                {{/achieved}}
                                                                {{^achieved}} <!-- if not achieved, show edit button -->
                                                                    <td colspan="2" style="width:33%;height:15px"><a href="/edit_goal/{{_id}}" style="text-decoration:none;"title="Edit this goal"><i style="color:#FFFFB5;"class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                                                {{/achieved}}
                                                                    <td colspan="2" style="width:33%;height:15px"><a href="/delete_goal/{{_id}}" title="Delete this goal"><i style="color:#FFC8A2"class="fa fa-trash" aria-hidden="true"> Delete Plan</i></a></td>

                                                            {{/isPublic}}


                                                            {{^isPublic}} <!-- if isPublic is false - do this -->
                                                                <td colspan="2" style="width:33%;height:15px"><a href="/share_goal/{{_id}}" title="Share this goal"><i style="color:white"class="fa fa-share-alt" aria-hidden="true"> Share</i></a></td>
                                                                     {{#achieved}} <!-- if achieved - hide edit button -->
                                                                    <td colspan="2" style="width:33%;height:15px"><p style="color: #bdc22f">Achieved</p></td>
                                                                {{/achieved}}
                                                                {{^achieved}} <!-- if not achieved, show edit button -->
                                                                    <td colspan="2" style="width:33%;height:15px"><a href="/edit_goal/{{_id}}" style="text-decoration:none;"title="Edit this goal"><i style="color:#FFFFB5;"class="fa fa-pencil" aria-hidden="true"></i> Edit</a></td>
                                                                {{/achieved}}
                                                                    <td colspan="2" style="width:33%;height:15px"><a href="/delete_goal/{{_id}}" title="Delete this goal"><i style="color:#FFC8A2"class="fa fa-trash" aria-hidden="true"> Delete Plan</i></a></td>
                                                            {{/isPublic}}

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div><br/>
                                        

                                   
                                </div>
                             {{/userGoals}}
                            </div>
                        </div>

		
		<br><br><br><br><br>
    <footer>
        {{>footer}}
		
    </footer>

</div>
{{/user}}
{{^user}}
{{/user}}
	


</body>
</html>




                                        <!--
                                        <div class="column">
                                            <div style="width:100%"class="card">
                                                <h3>{{planName}}</h3>
                                                <p>{{Date}}</p>
                                                <p>{{WeekNumber}}</p>
                                                <p>{{Monday}} - {{Sunday}}</p>
                                                <p></p>
                                                <p>{{#goals}}{{repsOrKM2}}{{/goals}} - {{#goals}}{{exerciseType2}}{{/goals}}</p>
                                                <p>{{#goals}}{{repsOrKM3}}{{/goals}} - {{#goals}}{{exerciseType3}}{{/goals}}</p>
                                            </div>
                                        </div>-->







                                    

                        <!-- {{#userGoals}}

                                <tr>
                                {{^achieved}}
                                
                                <td> <br/>Plan Name: <br/>{{planName}}<br/><br/>
                                     Start Date: <br/>{{Date}}<br /><br/>
                                    {{Monday}} - {{Sunday}}<br/>
                                    <br/>
                                   </td>
                                <td>{{#goals}} <br/><br />{{exerciseType1}}{{exerciseType2}}{{exerciseType3}} {{/goals}}<br/><br/><br/></td>
                                <td>{{#goals}} <br/><br />{{repsOrKM1}} {{repsOrKM2}} {{repsOrKM3}}{{/goals}}<br/><br/><br/></td>
                                    {{#achieved}}
                                        <td><i class="fa fa-trophy" style="color:#FF0" title="congratulations!" aria-hidden="true"></i></td>
                                    {{/achieved}}
                                    {{^achieved}}
                                        <td>
                                        
                                        </td>
                                    {{/achieved}}
                                    
                                    {{#isPublic}}
                                        <td><p style="color:white">&nbsp;</p></td>
                                            {{#achieved}}
                                                <td><p style="color:white">&nbsp;</p></td>
                                            {{/achieved}}
                                            {{^achieved}}
                                                <td><a href="/edit_goal/{{_id}}" title="Edit this goal"><i style="color:#FFFFB5"class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                            {{/achieved}}
                                        <td><a href="/delete_goal/{{_id}}" title="Delete this goal"><i style="color:#FFC8A2"class="fa fa-trash" aria-hidden="true"></i></a></td>
                                    {{/isPublic}}
                                    {{^isPublic}}
                                        <td></td>
                                            {{#achieved}}
                                                <td><p style="color:white">&nbsp;</p></td>
                                            {{/achieved}}
                                            {{^achieved}}
                                                <td></td>
                                            {{/achieved}}
                                                <td></td>
                                    {{/isPublic}}
                                {{/achieved}}
                               
                                </tr>
                            {{/userGoals}}    
                      </tbody>
                      </table>
                        {{^userGoals}}
                        <br/>
                        <h1 align="center" style="color:white">You don't currently have any open plans.</h1>
                        <br/>
                        {{/userGoals}}
                        {{! </div><br /> }}
			{{! <br> }}
		</div>-->